 body {
            margin: 0;
            padding: 0;
            min-height: 100vh;
            font-family: "Orbitron", sans-serif;
            font-optical-sizing: auto;
            color: #2c3e50;
        }

        .dashboardContainer {
            background-color: rgb(240, 240, 240);
            width: 100%;
            min-height: 100vh; 
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            gap: 5px;
        }

        .navBar, .midPoint, .profile {
            min-height: 100%;
            padding: 20px 0;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        }

        .navBar {
            grid-column: 1;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            background-color: #4bd1d1; /* Updated to a cleaner teal color */
            padding-top: 50px;
        }

        .midPoint {
            grid-column: span 5;
            background-color: rgb(113, 89, 89);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }

        .profile {
            grid-column: span 2;
            background-color: #5c6bc0; 
            color: white;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 20px;
        }

      
        .navElement {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
            width: 100%;
            height: 100px;
            margin: 10px 0;
            cursor: pointer;
            border-radius: 8px;
        }
        
       
        .navElement i {
            color: white; 
        }
        
        .navElement:hover i {
            color: rgb(189, 189, 17); 
        }

        h2,h5{
           color: rgb(66, 22, 22);  
           margin: 10px auto; 
           font-weight: bold;
         }

        h2:hover{
            color: rgb(220, 135, 23);
        }


        img{
            width: 90%;
            height: 300px;
            object-fit: cover;
            border-radius: 10px;
        }

        .info{
            background-color: rgb(168, 145, 145);
            border-radius: 10px;
            width: 90%;
            padding: 5px;
            margin-bottom: 30px;
        }
        
        .about{
            background-color: rgb(232, 147, 147);
            border-radius: 10px;
            width: 90%;
            padding: 5px;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .imgprofile{
            width: 200px;
            height: 200px;
            border-radius: 100px;
        }

        .proText{
            margin: 10px 0px;
        }

        @media(min-width: 300px){
            .dashboardContainer{
                grid-template-columns: 1fr;
            }
        }
        @media(min-width: 600px){
            .dashboardContainer{
                grid-template-columns: repeat(6,1fr);
            }
        }
        @media(min-width: 1000px){
            .dashboardContainer{
                grid-template-columns: repeat(8,1fr);
            }
        }